/* TODO обсудить это */
/* @tailwind base; */
@tailwind components;
@tailwind utilities;

/* -------------------------------------------- */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* -------------------------------------------- */

h1 {
  margin-bottom: 32px;
}

h2 {
  margin-bottom: 24px;
}

/* -------------------------------------------- */

.spiner-container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 26%;
  left: 0;
}

.spiner {
  position: relative;
  top: 20%;
  left: 46%;
  width: 4rem !important;
  height: 4rem !important;
}

/* MEDIA SCREEN 
TODO заменить на стандартные механизмы */
/* ------------------------------------ */

@media screen and (max-width: 992px) {
  .hidden-md-down {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .hidden-md-up {
    display: none;
  }
}

/* ------------------------------------ */
